<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="IEventAnswerDAO">

	<insert id="answerAdd" parameterType="eventanswerVO" useGeneratedKeys="true" 
		keyProperty="evAsId">
		insert into event_answers values
		(null,#{evAsReply},0,#{eventId},
		#{memberId},now(),now())
	</insert>
	
	<resultMap type="eventanswerVO" id="asResultMap">
		<id property="id" column="ev_as_id"/>		
		<result property="evAsReply" 
				column="ev_as_reply"/>
		<result property="compassion" 
				column="ev_as_compassion"/>
		<result property="eventId" 
				column="event_id"/>
		<result property="memberId" 
				column="mb_id"/>
		<result property="createdAt" 
				column="created_at"/>
		<result property="updatedAt" 
				column="updated_at"/>										
	</resultMap>
	
	<select id="answerList" resultType="eventanswerVO">
		select * from event_answers order by created_at desc
	</select>
	
	<!-- mapUnderscoreToCamelCase 설정이나 
	 ResultMap을 결과맵으로 연동하여 사용 -->
	<select id="answerListForEvent" parameterType="int" 
		 resultType="eventanswerVO">	
<!-- 		 resultMap="asResultMap">   -->
<!-- 		 resultType="answerVO"> -->
		select * from event_answers where event_id = #{eventId}   
		order by created_at desc
	</select>
	
	<select id="checkNumberOfAnswersForEvent"
		parameterType="int" resultType="int">
		select count(*) from event_answers  
			 where event_id = #{eventId} 
	</select>
	
	<select id="answerSelectOne" parameterType="int" 
		resultType="eventanswerVO">
		SELECT * FROM event_answers WHERE ev_as_id = #{evAsId}  
	</select>
	
	<update id="answerUpdate" parameterType="eventanswerVO">
		UPDATE event_ANSWERS SET ev_as_reply = #{evAsReply},
		 	updated_at = now()   
			WHERE ev_as_id = #{evAsId}
	</update>
	
<!-- 	<update id="increaseCompassion" parameterType="int"> -->
<!-- 		<![CDATA[ -->
<!-- 		UPDATE ANSWERS SET compassion = compassion+1,  -->
<!-- 		 	updated_at = now()     -->
<!-- 			WHERE id = #{id} -->
<!-- 		]]> -->
<!-- 	</update> -->
	
	<delete id="answerRemove" parameterType="int">
		DELETE FROM event_ANSWERS WHERE ev_as_id = #{evAsId} 
	</delete>

</mapper>
