<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="IMemberLikeEventDAO">

	<resultMap type="EventVO" id="evResultMap">
		<id property="event_id" column="event_id"/> 
		<result property="memberLikeCount" column="member_like_count"/>
		<result property="memberLikeIds" column="member_like_ids"/>
	</resultMap>
	
	<select id="SQL_CurrentLikeMembers"
		parameterType="int" resultType="string"  
		>
		<![CDATA[ 
		select like_members from events 
		where event_id = #{event_id}
		]]>
	</select>

	<select id="SQL_countLikeEvent"
		parameterType="int" resultType="int" 
		>
		<![CDATA[ 
		select like_count from events   
		where event_id = #{event_id}
		]]>
	</select>
	<update id="SQL_MemberLikeADD" 
		parameterType="map">
		<![CDATA[
		update events set like_members = #{mbLikes} 
			, like_count = like_count+1    
			where event_id = #{event_id}    
		]]>
	</update>
	<update id="SQL_MemberLikeRemove"
		parameterType="map">
		<![CDATA[
		update events set like_members = #{mbLikes} 
			, like_count = like_count-1     
			where event_id = #{event_id}    
		]]>
	</update>
	
</mapper>
