<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="IMemberLikeTruckDAO">

	<resultMap type="FoodtruckVO" id="ftResultMap">
		<id property="seller_id" column="seller_id"/> 
		<result property="memberLikeCount" column="member_like_count"/>
		<result property="memberLikeIds" column="member_like_ids"/>
	</resultMap>
	
	<select id="SQL_CurrentLikeMembers"
		parameterType="int" resultType="string"  
		>
		<![CDATA[ 
		select member_like_ids from foodtrucks  
		where seller_id = #{seller_id}
		]]>
	</select>

	<select id="SQL_countLikeFoodtruck"
		parameterType="int" resultType="int" 
		>
		<![CDATA[ 
		select member_like_count from foodtrucks   
		where seller_id = #{seller_id}
		]]>
	</select>
	<update id="SQL_MemberLikeADD" 
		parameterType="map">
		<![CDATA[
		update foodtrucks set member_like_ids = #{mbLikes} 
			, member_like_count = member_like_count+1    
			where seller_id = #{seller_id}    
		]]>
	</update>
	<update id="SQL_MemberLikeRemove"
		parameterType="map">
		<![CDATA[
		update foodtrucks set member_like_ids = #{mbLikes} 
			, member_like_count = member_like_count-1     
			where seller_id = #{seller_id}    
		]]>
	</update>
	
</mapper>
