@charset "UTF-8";
#insert_form {
	position: absolute;
	border: 2px solid orange;
	width: 960px;
	height: 1080px;
	margin-top: 150px;
	box-sizing: border-box;
	padding: 30px;
	background-color: white;
	left: 35%;
}

















