@charset "UTF-8";

#login_form {
	position: absolute;
	border: 2px solid orange;
	width: 250px;
	height: 300px;
	margin-top: 150px;
	box-sizing: border-box;
	padding: 30px;
	background-color: white;
	left: 35%;
}
#title {
	vertical-align: middle;
	height: 50px;
	font-size: large;
}
#submit {
	text-align: right;
}
@keyframes slideleft {
   	from {
       	background-position: 0%;
   	}
   	to {
       	background-position: 150000%;
   	}
}
@-webkit-keyframes slideleft {
   	from {
       	background-position: 0%;
   	}
   	to {
      	background-position: 150000%;
   	}
}
.slide {
    background-image: url('../imgs/log/login_image4.jpg');
    height: 600px;
    background-repeat: repeat-x;
    animation: slideleft 20000s infinite linear;
    -webkit-animation: slideleft 20000s infinite linear;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
    background-attachment: fixed;
    position: relative;
}