/*--------------------------------------------
Font
---------------------------------------------*/

/* NotoKR */
@font-face{
	font-family:'notokr';
	font-weight:300;
	src:url('../fonts/NotoKR/notokr-light.eot');
	src:url('../fonts/NotoKR/notokr-light.eot?#iefix') format('embedded-opentype'),
	    url('../fonts/NotoKR/notokr-light.woff2') format('woff2'),
	    url('../fonts/NotoKR/notokr-light.woff') format('woff'),
	    url('../fonts/NotoKR/notokr-light.ttf') format('truetype');
}
@font-face{
	font-family:'notokr';
	font-weight:400;
	src:url('../fonts/NotoKR/notokr-regular.eot');
	src:url('../fonts/NotoKR/notokr-regular.eot?#iefix') format('embedded-opentype'),
	    url('../fonts/NotoKR/notokr-regular.woff2') format('woff2'),
	    url('../fonts/NotoKR/notokr-regular.woff') format('woff'),
	    url('../fonts/NotoKR/notokr-regular.ttf') format('truetype');
}
@font-face{
	font-family:'notokr';
	font-weight:500;
	src:url('../fonts/NotoKR/notokr-medium.eot');
	src:url('../fonts/NotoKR/notokr-medium.eot?#iefix') format('embedded-opentype'),
	    url('../fonts/NotoKR/notokr-medium.woff2') format('woff2'),
	    url('../fonts/NotoKR/notokr-medium.woff') format('woff'),
	    url('../fonts/NotoKR/notokr-medium.ttf') format('truetype');
}
@font-face{
	font-family:'notokr';
	font-weight:700;
	src:url('../fonts/NotoKR/notokr-bold.eot');
	src:url('../fonts/NotoKR/notokr-bold.eot?#iefix') format('embedded-opentype'),
	    url('../fonts/NotoKR/notokr-bold.woff2') format('woff2'),
	    url('../fonts/NotoKR/notokr-bold.woff') format('woff'),
	    url('../fonts/NotoKR/notokr-bold.ttf') format('truetype');
}


/* TGothic */
@font-face{
	font-family:'tgothic';
	font-weight:400;
	src:url('../fonts/Tgothic/TgothicLightA1.eot');
	src:url('../fonts/Tgothic/TgothicLightA1.eot?#iefix') format('embedded-opentype'),
	    url('../fonts/Tgothic/TgothicLightA1.woff') format('woff'),
	    url('../fonts/Tgothic/TgothicLight.ttf') format('truetype');
}
@font-face{
	font-family:'tgothic';
	font-weight:500;
	src:url('../fonts/Tgothic/TgothicMediumA1.eot');
	src:url('../fonts/Tgothic/TgothicMediumA1.eot?#iefix') format('embedded-opentype'),
	    url('../fonts/Tgothic/TgothicMediumA1.woff') format('woff'),
	    url('../fonts/Tgothic/TgothicMedium.ttf') format('truetype');
}
@font-face{
	font-family:'tgothic';
	font-weight:700;
	src:url('../fonts/Tgothic/TgothicBlackA1.eot');
	src:url('../fonts/Tgothic/TgothicBlackA1.eot?#iefix') format('embedded-opentype'),
	    url('../fonts/Tgothic/TgothicBlackA1.woff') format('woff'),
	    url('../fonts/Tgothic/TgothicBlack.ttf') format('truetype');
}




/* text */
h1,h2,h3,h4{letter-spacing:-0.6px}
h1,h2,h3,h4,h5,h6,a,p,th,td,div,span,label,input,select,textarea,li,label{font-family:'Nanum Gothic', sans-serif}
br{font-family:'notokr',sans-serif}
select::-ms-expand {display:none}
.text-left{text-align:left}.text-right{text-align:right}.text-center{text-align:center}.text-justify{text-align:justify}
.bold{font-weight:700}.normal{font-weight:400}.light{font-weight:300}.bold5{font-weight:500}.bold6{font-weight:600}.bold8{font-weight:800}.bold9{font-weight:900}
.fs12{font-size:12px}.fs13{font-size:13px}.fs14{font-size:14px}.fs15{font-size:15px}.fs16{font-size:16px}.fs17{font-size:17px}.fs18{font-size:18px}.fs19{font-size:19px}
.fs20{font-size:20px}.fs21{font-size:21px}.fs22{font-size:22px}.fs23{font-size:23px}.fs24{font-size:24px}.fs25{font-size:25px}.fs26{font-size:26px}.fs28{font-size:28px}
.fs30{font-size:30px}.fs32{font-size:32px}.fs34{font-size:34px}.fs36{font-size:36px}.fs38{font-size:38px}.fs40{font-size:40px}.fs42{font-size:42px}.fs48{font-size:48px}
.fs50{font-size:50px}.fs52{font-size:52px}.fs54{font-size:54px}.fs56{font-size:56px}.fs58{font-size:58px}.fs60{font-size:60px}
.lh18{line-height:18px}.lh19{line-height:19px}.lh20{line-height:20px}.lh21{line-height:21px}.lh22{line-height:22px}.lh23{line-height:23px}.lh24{line-height:24px}
.lh25{line-height:25px}.lh26{line-height:26px}.lh28{line-height:28px}.lh30{line-height:30px}.lh32{line-height:32px}.lh34{line-height:34px}.lh36{line-height:36px}
.lh38{line-height:38px}.lh40{line-height:40px}.lh42{line-height:42px}.lh44{line-height:44px}.lh46{line-height:46px}.lh48{line-height:48px}.lh50{line-height:50px}
.lh52{line-height:52px}.lh54{line-height:54px}.lh56{line-height:56px}.lh58{line-height:58px}.lh60{line-height:60px}
@media (max-width:970px){
	.fs14{font-size:13.5px}.fs15{font-size:14px}.fs16{font-size:15px}.fs17{font-size:16px}.fs18{font-size:17px}.fs19{font-size:17px}.fs20{font-size:18px}
	.fs21{font-size:19px}.fs22{font-size:20px}.fs23{font-size:21px}.fs24{font-size:21px}.fs25{font-size:22px}.fs26{font-size:23px}.fs28{font-size:24px}
	.fs30{font-size:26px}.fs32{font-size:28px}.fs34{font-size:29px}.fs36{font-size:31px}.fs38{font-size:33px}.fs40{font-size:34px}.fs42{font-size:36px}
	.fs44{font-size:38px}.fs46{font-size:40px}.fs48{font-size:42px}.fs50{font-size:43px}.fs52{font-size:45px}.fs54{font-size:47px}.fs56{font-size:48px}
	.fs58{font-size:50px}.fs60{font-size:52px}
	.lh18{line-height:16px}.lh20{line-height:18px}.lh22{line-height:20px}.lh24{line-height:22px}.lh26{line-height:24px}.lh28{line-height:25px}.lh30{line-height:27px}
	.lh32{line-height:28px}.lh34{line-height:30px}.lh36{line-height:31px}.lh38{line-height:33px}.lh40{line-height:34px}.lh42{line-height:36px}.lh44{line-height:38px}
	.lh46{line-height:40px}.lh48{line-height:42px}.lh50{line-height:44px}.lh52{line-height:46px}.lh54{line-height:47px}.lh56{line-height:49px}.lh58{line-height:50px}
}
@media (max-width:480px){
	.fs13{font-size:12px}.fs14{font-size:13px}.fs15{font-size:14px}.fs16{font-size:14px}.fs17{font-size:15px}.fs18{font-size:15px}.fs19{font-size:16px}.fs20{font-size:16px}
	.fs21{font-size:16px}.fs22{font-size:16.5px}.fs23{font-size:17px}.fs24{font-size:17px}.fs25{font-size:18px}.fs26{font-size:18.5px}.fs28{font-size:19px}.fs30{font-size:20px}
	.fs32{font-size:21px}.fs34{font-size:22px}.fs36{font-size:22.5px}.fs38{font-size:23px}.fs40{font-size:24px}.fs42{font-size:25px}.fs44{font-size:26px}.fs46{font-size:27px}
	.fs48{font-size:28px}.fs50{font-size:29px}.fs52{font-size:30px}.fs54{font-size:31px}.fs56{font-size:32px}.fs58{font-size:33px}.fs60{font-size:34px}
	.lh18{line-height:14px}.lh20{line-height:16px}.lh22{line-height:18.5px}.lh24{line-height:20px}.lh26{line-height:20px}.lh28{line-height:22px}.lh30{line-height:23px}
	.lh32{line-height:24px}.lh34{line-height:25px}.lh36{line-height:26px}.lh38{line-height:28px}.lh40{line-height:29px}.lh42{line-height:30px}.lh44{line-height:31px}
	.lh46{line-height:32px}.lh48{line-height:34px}.lh50{line-height:36px}.lh52{line-height:37px}.lh54{line-height:38px}.lh56{line-height:40px}.lh58{line-height:42px}
}

/* color */
.black{color:#000}.white{color:#fff}.gray2{color:#222}.gray3{color:#333}.gray4{color:#444}.gray5{color:#555}.gray6{color:#666}.gray7{color:#777}.gray8{color:#888}.gray9{color:#999}


/* reset */
*{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0}
body{overflow-y:scroll}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
ol,ul,dl,li{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content: none}
table,th,td{border-spacing:0;border-collapse:collapse}
a,a:link,a:visited,a:hover,a:active{text-decoration:none}
img{border:0}
h1,h2,h3,h4,h5,h6,strong,th{font-weight:700;line-height:1.5em}
h1,h2,h3,h4,h5,h6,strong,p,label{line-height:1.5em;word-break:keep-all}
p > a{color:inherit}
body{background:#fff;color:#000;overflow-x:hidden;overflow-y:scroll}
address{font-style:normal}
input{vertical-align:middle}
.someinput::-ms-clear{display:none}
input::-ms-clear{display:none}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill{-webkit-box-shadow: 0 0 0 30px white inset}
input[type=button], input[type=submit], label{cursor:pointer}
::placeholder{color:#b7b7b7;opacity:1}
:-ms-input-placeholder{color:#b7b7b7}