@charset "UTF-8";

#trucklist_all_page {
	width: 960px;
	height: 1100px;
	position: static;
}

/* 공통 부분 */
.truck_card {
/* 	position: absolute; */
	display: inline-block;
	border: 2px solid gray;
	background-color: orange;
	padding: 3px 10px;
	margin: 4px 4px;
	margin-left: 23px;
	width: 200px;
	height: 200px;
	text-align: center;
}

#highline {
/* 	margin-top: 30px; */
}

#lowline {
/* 	margin-top: 310px; */
}

button {
	overflow: hidden;
	transition: 0.5s;
	-wdbkit-transition: 0.5s;
	cursor: pointer;
}

#trucklist_page tbody tr:hover{
    cursor: pointer;
    background-color: transparent !important;
}

/* nav */
#trucklist_nav {
	float: left;
	width: 960px;
	height: 25px;
	position: absolute;
}

#ranktrucks {
	text-align: center;
	font-size: 16px;
	background-color: #757575;
	border: 1px solid gray;
	border-radius: 3px;
	color: gold;
	width: 200px;
	height: 24px;
}

#truck_search {
	float: right;
}

#ft_search {
	width: 200px;
	height: 25px;
	border-color: green;
	border-radius: 5px;
}

/* trucklist_page */
#trucklist_page {
	width: 960px;
	height: 1050px;
	background-image: url('/foodlee/resources/css/imgs/truckDetail/background_truck2.jpg');
	background-repeat: repeat-x;
	background-size: cover;
	background-attachment: fixed;
	background-color: white;
	position: relative;
}

/* top10 list */
#toplist_content {
	float: left;
	width: 960px;
	height: 250px;
/* 	display: inline; */
	position: absolute;
	top: 50px;
	left: 16px;
}

#top_content_table {
	width: 960px;
}

#top_content button:hover {
	background-color: yellow;
	color: white;
	text-shadow: 5px 1px 3px #400000;
}

/* 메뉴 버튼 */
#menu_content {
	float: left;
	width: 960px;
	height: 150px;
	position: absolute;
	top: 300px;
}

.menu1, .menu2, .menu3, .menu4 {
	padding: 80px;
}

#menu_content button {
	width: 80px;
	height: 50px;
	font-size: 20px;
	border: 2px solid orange;
	border-radius: 10px;
	background-color: white;
	color: orange;
	transition: 0.5s;
	-wdbkit-transition: 0.5s;
	overflow: hidden;

}

#menu_content button:hover {
	background-color: orange;
	color: white;
	text-shadow: 5px 1px 3px #400000;
}

/* 메뉴별 푸드 트럭 리스트 */
#menu_truck_content{
	width: 960px;
	height: 600px;
	left: 16px;
	position: absolute;
	top: 450px;
	margin-top: 80px;
}

#menu_content_table {
	width: 960px;
/* 	margin-top: 100px; */
}

#menu_truck_content button:hover {
	background-color: yellow;
	color: white;
	text-shadow: 5px 1px 3px #400000;
}

/* 푸터 */
#foodtruckList_footer {
	width: 960px;
	height: 50px;
	background-color: white;
	display: block;
	text-align: center;
}

.foodtrucklist_pagenation {
	display: inline-block;
}

.foodtrucklist_pagenation a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	border: 1px solid #ddd;
	margin: 0 4px;
	font-size: 22px;
}

.foodtrucklist_pagenation a:hover:not(.active) {
	background-color: #ddd;
}

.foodtrucklist_pagenation a:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.foodtrucklist_pagenation a:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}





