@charset "UTF-8";

/* 공통 부분 */
.sample1, .sample2, .sample3, .sample4, .sample5, .sample6, .sample7, .sample8, .sample9 {
	border: 2px solid gray;
	background-color: orange;
	padding: 10px;
	margin: auto;
}

button {
	overflow: hidden;
	transition: 0.5s;
	-wdbkit-transition: 0.5s;
	cursor: pointer;
}

#trucklist_page tbody tr:hover{
    cursor: pointer;
    background-color: transparent !important;
}

/* nav */
#nav {
	float: left;
	width: 960px;
	height: 30px;
	top: 90px;
	display: block;
}

.ranktrucks {
	text-align: center;
	font-size: 16px;
	background-color: #757575;
	border: 1px solid gray;
	border-radius: 3px;
	color: gold;
	top: 2px;
	left: 2px;
	width: 200px;
	height: 24px;
}

.truck_search {
	float: right;
	right: 2px;
	top: 3px;
}

/* trucklist_page */
#trucklist_page {
	width: 960px;
	height: 1020px;
	background-image: url('/foodlee/resources/css/imgs/truckDetail/background_truck2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-color: white;
}

/* top10 list */
#toplist_content {
	float: left;
	width: 960px;
	height: 250px;
	display: block;
}

#top_content_table {
	width: 960px;
}

#top_content button:hover {
	background-color: yellow;
	color: white;
	text-shadow: 5px 1px 3px #400000;
}

/* 메뉴 버튼 */
#menu_content {
	float: left;
	width: 960px;
	height: 150px;
	dispaly: block;
}

.menu1, .menu2, .menu3, .menu4 {
	padding: 80px;
}

#menu_content button {
	width: 80px;
	height: 50px;
	font-size: 20px;
	border: 2px solid orange;
	border-radius: 10px;
	background-color: white;
	color: orange;
	transition: 0.5s;
	-wdbkit-transition: 0.5s;
	overflow: hidden;

}

#menu_content button:hover {
	background-color: orange;
	color: white;
	text-shadow: 5px 1px 3px #400000;
}

/* 메뉴별 푸드 트럭 리스트 */
#menu_truck_content{
	width: 960px;
	height: 500px;
	display: block;
}

#menu_content_table {
	width: 960px;
}

#menu_truck_content button:hover {
	background-color: yellow;
	color: white;
	text-shadow: 5px 1px 3px #400000;
}

/* 푸터 */
/* #footer { */
/* 	width: 1200px; */
/* 	height: 60px; */
/* /* 	position: fixed; */ */
/* 	top: 900px; */
/* 	background-color: white; */
/* 	display: block; */
/* 	text-align: center; */
/* } */

/* .page { */
/* 	display: inline-block; */
/* } */

/* .page a { */
/* 	color: black; */
/* 	float: left; */
/* 	padding: 8px 16px; */
/* 	text-decoration: none; */
/* 	border: 1px solid #ddd; */
/* 	margin: 0 4px; */
/* 	font-size: 22px; */
/* } */

/* .page a:hover:not(.active) { */
/* 	background-color: #ddd; */
/* } */

/* .page a:first-child { */
/* 	border-top-left-radius: 5px; */
/* 	border-bottom-left-radius: 5px; */
/* } */

/* .page a:last-child { */
/* 	border-top-right-radius: 5px; */
/* 	border-bottom-right-radius: 5px; */
/* } */





