@charset "UTF-8";

#trucklist_all_page {
	width: 960px;
	height: 1130px;
	position: static;
	display: block;
}

#top_foodtruck_content {
	width: 960px;
	height: 285px;
}

#top_foodtruck_content button:hover {
	background-color: yellow;
	color: #000080;
	text-shadow: 5px 1px 3px #400000;
}

.top_truck_card {
	display: inline-block;
	border: 2px solid gray;
	background-color: orange;
	
/* 	margin: 4px 4px; */
	margin-left: 27px;
	width: 200px;
	height: 260px;
	text-align: center;
}

/* 공통 부분 */
.truck_card {
	display: inline-block;
	border: 2px solid gray;
	background-color: orange;
	margin-left: 27px;
	margin-top: 20px;
	width: 200px;
	height: 260px;
	text-align: center;
}

.ft_con {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;	
}

#highline {
/* 	margin-top: 30px; */
}

#lowline {
/* 	margin-top: 310px; */
}

button {
	overflow: hidden;
	transition: 0.5s;
	-wdbkit-transition: 0.5s;
	cursor: pointer;
}

/* #trucklist_page tbody tr:hover{ */
/*     cursor: pointer; */
/*     background-color: transparent !important; */
/* } */

/* nav */
#trucklist_nav {
	float: left;
	width: 960px;
	height: 25px;
/* 	position: absolute; */
	display: block;
}

#ranktrucks {
	text-align: center;
	font-size: 16px;
	background-color: #757575;
	border: 1px solid gray;
	border-radius: 3px;
	color: gold;
	width: 200px;
	height: 24px;
}


#ft_search {
	width: 200px;
	height: 25px;
	border-color: green;
	border-radius: 5px;
}

/* trucklist_page */
#trucklist_page {
	width: 960px;
	height: 1110px;
	background-image: url('/foodlee/resources/css/imgs/truckDetail/background_truck2.jpg');
	background-repeat: repeat-x;
	background-size: cover;
	background-attachment: fixed;
	background-color: white;
	position: relative;
}

/* top10 list */
#toplist_content {
	float: left;
	width: 960px;
	height: 305px;
	diplay: block;
}

#top_content_table {
	width: 960px;
}

#top_content button:hover {
	background-color: yellow;
	color: #000080;
	text-shadow: 5px 1px 3px #400000;
}

/* 메뉴 버튼 */
#menu_content {
	float: left;
	width: 960px;
	height: 150px;
/* 	position: absolute; */
	top: 330px;
	diplay: block;
}

.menu1, .menu2, .menu3, .menu4 {
	padding: 70px;
/* 	margin-top: 20px; */
	display: inline-block;
}

#menu_content button {
	width: 80px;
	height: 50px;
	font-size: 20px;
	border: 2px solid orange;
	border-radius: 10px;
	background-color: white;
	color: orange;
	transition: 0.5s;
	-wdbkit-transition: 0.5s;
	overflow: hidden;

}

#menu_content button:hover {
	background-color: orange;
	color: white;
	text-shadow: 5px 1px 3px #400000;
}

/* 메뉴별 푸드 트럭 리스트 */
#menu_truck_content{
	width: 960px;
	height: 600px;
	left: 16px;
/* 	position: absolute; */
	top: 480px;
	diplay: block;
/* 	margin-top: 80px; */
}

#menu_truck_content button:hover {
	background-color: yellow;
	color: #000080;
	text-shadow: 5px 1px 3px #400000;
}

/* 푸터 */
#foodtruckList_footer {
	width: 960px;
	heigth: 50px;
	background-color: white;
	diplay: block;
	text-align: center;
}

.foodtrucklist_pagenation a {
	diplay: inline-block;
	width: 40px;
	height: 40px;
	color: black;
	float: left;
/* 	padding: 8px 16px; */
	text-decoration: none;
	border: 1px solid #ddd;
/* 	margin: 0 4px; */
	margin-left: 360px;
	font-size: 22px;
}

.foodtrucklist_pagenation a:hover:not(.active) {
	background-color: #ddd;
}

.foodtrucklist_pagenation a:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.foodtrucklist_pagenation a:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}